<form action="/places/add-place" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Longitude</label>
  <input type="number" name="longitude">

  <label for="">Latitude</label>
  <input type="number" name="latitude">

  <label for="">Type of Place</label>
  <select name="typePlace" id="typePlace">
    <option value="coffee shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>

  <button type="submit">ADD</button>
</form>